    .login-form {

    	width:800px;
    	margin:0 auto;
    }

    .carousel {
        width:100vw;
        margin: auto;

    }

    .carousel img {
        width:100vw;
    }

    .create-form {
        width:47vw;
        height:auto;
       text-align: center;
       margin:0 auto;
       position:relative;
       border:2px black solid;
       margin-top:50px;
       background-color: white;
     border-radius: 44px;
     margin-bottom:100px;
     background-color: black;
     opacity:0.85;
    }

    

    .loginBtn {
      margin-top:10px;
      width:100%;
    }

    .loginInput {
      padding:10px;
      height:50px;
      margin-top:10px;

    }

    .caption-header{
      font-size: 100px;
    }

   