.profilePic {
	width:150px;
	margin-right:200px;
	border:3px yellow solid;
}

.profileHeaderPic {
	width: 100vw;
	height:250px;
	position:absolute;

}
.profileHeader {
	width: 100vw;
	position:relative;
}

.profileHeader h1 {
	color:white;
	margin-right: 200px;

}



