body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.locationsInfo {
	margin-top:100px;
}

.profileName {
	color:black;
}

.mapImg{
	width:20px;
}

.mapImg:hover{
	width:100px;
}

.locationsInfo {
	margin-top:0px;
}

.editInputOff {
	display:none;
	
}
.editInputOn {
	display:block;
	

}

.register-label {
	font-size:20px;
}

footer{
	width: 100%;
	height:40px;
	background-color: blue;
}

.profilePic {
	width:150px;
	border:3px black solid;
	margin-left:0px;
}

.profileHeaderPic {
	width: 100vw;
	height:250px;
	position:absolute;


}
.profileHeader {
	width: 100vw;
	position:relative;
	padding-bottom:250px;
	background-size:cover;
	background-image: url("https://az616578.vo.msecnd.net/files/2016/08/13/636066600346746625-391928930_couple-hiking-valley.jpg")

}

